{% set documentation = [
    {
        'name': 'General',
        'icon': 'icons/blender-icons/WORLD.svg',
        'parameters': [
            {
                'name': 'Sun',
                'excerpt': 'Select source of light.',
                'description': 'By default selects Physical Starlight and Atmosphere sun if addon is installed and enabled.'
            },
            {
                'name': 'Planets',
                'excerpt': 'Add or remove planet.',
                'description': 'Allows planets to be added, removed and renamed for your convenience. Maximum count of planet is determined by ones hardware specification.'
            },
            {
                'name': 'Reinitialize Drivers',
                'excerpt': '',
                'description': ''
            }
        ]
    },
    {
        'name': 'Transform',
        'icon': 'icons/blender-icons/ORIENTATION_GLOBAL.svg',
        'parameters': [
            {
                'name': 'Radius',
                'excerpt': 'Radius of the planet.',
                'description': '',
            },
            {
                'name': 'Rotation',
                'excerpt': 'Rotation of the planet.',
                'description': '',
            },
            {
                'name': 'Transform mode',
                'excerpt': 'Selection between ways of posistioning planets.',
                'description': 'Select between global (X, Y, Z), viewer-based (azimuth, elevation & distance) or elliptical orbit (ellipse width & height + orbit rotation) positioning modes.',
            },
            {
                'name': 'Position',
                'excerpt': '',
                'description': ''
            },
            {
                'name': 'Azimuth',
                'excerpt': '',
                'description': ''
            },
            {
                'name': 'Elevation',
                'excerpt': '',
                'description': ''
            },
            {
                'name': 'Distance',
                'excerpt': '',
                'description': ''
            },
            {
                'name': 'Orbit Planet Type',
                'excerpt': '',
                'description': ''
            },
            {
                'name': 'Ellipse Width',
                'excerpt': '',
                'description': ''
            },
            {
                'name': 'Ellipse Height',
                'excerpt': '',
                'description': ''
            },
            {
                'name': 'Orbit Rotation',
                'excerpt': '',
                'description': ''
            },
            {
                'name': 'Orbit Point Angle',
                'excerpt': '',
                'description': ''
            }
        ]
    },
    {
        'name': 'Surface Material',
        'icon': 'icons/blender-icons/MATERIAL.svg',
        'parameters': [
            {
                'name': 'Albedo',
                'excerpt': 'Color map of the planet.',
                'description': 'Sets color or applies color map texture to the planet.'
            },
            {
                'name': 'Roughness',
                'excerpt': 'Sets how rought is the planet surface.',
                'description': 'Surface roughness, also termed landscape, terrain, or topographic roughness in geomorphology, is directly connected to the unevenness of surface elevation values.'

            },
            {
                'name': 'Height',
                'excerpt': 'Gives planet its highs and lows.',
                'description': 'Applies displacement map (also known as a height map or elevation map) to the surface.'
            },
            {
                'name': 'Emission',
                'excerpt': 'Make certain parts of the planet emit light.',
                'description': 'Applies emission map (also known as emissive map).'
            },
            {
                'name': 'Emission Strength',
                'excerpt': 'Determines brightness of the parts that emit light.',
                'description': ''
            },
        ]
    },
    {
        'name': 'Atmosphere',
        'icon': 'icons/blender-icons/PROP_ON.svg',
        'parameters': [
            {
                'name': 'Radius',
                'excerpt': 'Radius of the atmosphere.',
                'description': '',
            },
            {
                'name': 'Ambient Light',
                'excerpt': '',
                'description': '',
            },
            {
                'name': 'Rayleigh Scattering',
                'excerpt': '',
                'description': '',
            },
            {
                'name': 'Mie Scattering',
                'excerpt': '',
                'description': '',
            },
            {
                'name': 'Atmosphere Layer',
                'excerpt': '',
                'description': '',
            },
            {
                'name': 'Visible',
                'excerpt': '',
            },
            {
                'name': 'Density Exponent',
                'excerpt': '',
            },
            {
                'name': 'Start Level',
                'excerpt': '',
            },
            {
                'name': 'End Level',
                'excerpt': '',
            },
            {
                'name': 'Center of Density',
                'excerpt': '',
            },
            {
                'name': 'Scattering',
                'excerpt': '',
            },
            {
                'name': 'Absorption',
                'excerpt': '',
            },
            {
                'name': 'Emission',
                'excerpt': '',
            },
            {
                'name': 'Scattering Coefficient',
                'excerpt': '',
            },
            {
                'name': 'Layer Density',
                'excerpt': 'Value, Texture and Aurora.',
            },
            {
                'name': 'Noise Jitter',
                'excerpt': '',
            },
            {
                'name': 'Reflection Jitter Multiplier',
                'excerpt': '',
            },
        ]
    },
    {
        'name': 'Rings',
        'icon': 'icons/blender-icons/PROP_OFF.svg',
        'parameters': [
            {
                'name': 'Texture',
                'excerpt': '',
                'description': '',
            },
            {
                'name': 'Scale',
                'excerpt': '',
                'description': '',
                'video': {
                    'src':'../docs/img/DOCUMENTATION/RING_SCALE.mp4',
                    'alt':'Ring Details'
                },
            },
            {
                'name': 'Detail',
                'excerpt': '',
                'description': '',
                'video': {
                    'src':'../docs/img/DOCUMENTATION/RING_DETAIL.mp4',
                    'alt':'Ring Details'
                },
            },
            {
                'name': 'Roughness',
                'excerpt': '',
                'description': '',
                'video': {
                    'src':'../docs/img/DOCUMENTATION/RING_ROUGHNESS.mp4',
                    'alt':'Ring Details'
                },
            },
            {
                'name': 'Color Tint',
                'excerpt': '',
                'description': '',
                'video': {
                    'src':'../docs/img/DOCUMENTATION/RING_COLOR_TINT.mp4',
                    'alt':'Ring Details'
                },
            },
            {
                'name': 'Inner Radius',
                'excerpt': '',
                'description': '',
                'video': {
                    'src':'../docs/img/DOCUMENTATION/RING_INNER_RADIUS.mp4',
                    'alt':'Ring Details'
                },
            },
            {
                'name': 'Outer Radius',
                'excerpt': '',
                'description': '',
                'video': {
                    'src':'../docs/img/DOCUMENTATION/RING_OUTER_RADIUS.mp4',
                    'alt':'Ring Details'
                },
            },
            {
                'name': 'Indirect Shadow Factor',
                'excerpt': '',
                'description': '',
                'video': {
                    'src':'../docs/img/DOCUMENTATION/RING_INDIRECT_SHADOW.mp4',
                    'alt':'Ring Details'
                },
            },
            {
                'name': 'Translucency',
                'excerpt': '',
                'description': '',
                'video': {
                    'src':'../docs/img/DOCUMENTATION/RING_TRANSLUCENCY.mp4',
                    'alt':'Ring Details'
                },
            },
        ]
    }
   
]%}

!!! tip ""
    Hey :wave:, first time here? You can find the installation guide and first run in the [getting started](/pco/getting-started/) section.

!!! warning ""
    ⚠️ We are currently updating documentation. Some of the entries may be empty. 

* [General](#general)
* [Planet](#planet)
* [Atmosphere](#atmosphere)
* [Rings](#rings)
* [Transform](#transform)

{% for section in documentation %}
## <span class="twemoji">{% include section.icon %}</span> {{ section.name }}
{% for parameter in section.parameters %}
### {{ parameter.name }}
<div class="parameter">
    <div class="parameter__info">
        <span>{{ parameter.excerpt }}</span>{% if parameter.description != '' %}<span style="margin-left: 4px; color: rgba(0,0,0,.5)">{{ parameter.description }}</span>{% endif %}
    </div>
    <div class="parameter__video">{% if parameter.video and parameter.video.src %}<video autoplay loop muted playsinline ><source src="{{parameter.video.src}}" type="video/mp4"></video>{% elseif parameter.image %}<img src="{{parameter.image.src}}" alt="{{parameter.image.alt}}" />{% endif %}</div>
</div>
{% if parameter.image_post %}<div class="parameter mb-64"><img src="{{parameter.image_post.src}}" alt="{{parameter.image_post.alt}}" /></div>{% endif %}
{% endfor %}
{% if section.post_block %}{{section.post_block}}{% endif %}
{% endfor %}